@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.container {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: left center;
  border-radius: 0 0 50px 50px;
  max-width: 100%;
  height: 87vh;
  z-index: 999;
  @media (max-width: 1024px) {
    border-radius: 0 0 0 0;
  }
  .box-section {
    @include display-flex(center, space-between);
    @include container(1380px);
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0 2rem;
    width: 100vw;
    left: 50%;
    top: 50%;
    @media (max-width: 1024px) {
      @include display-flex(flex-start, space-between);
      flex-direction: column;
    }
    @media (max-width: 600px) {
     margin: 3rem 0 0 0;
    }
    .text-section {
      gap: 8px;
      .title {
        font-size: $font-large;
        color: $color-snow;
        line-height: 48px;
        margin-bottom: 2rem;  
        font-weight: 500;
         @media (max-width: 1024px) {
          font-size: 34px;
          line-height: 34px;
          font-weight: 500;
          color: $color-snow;
        }
      }
    }
    .form-section {
      background-color: $color-snow;
      border-radius: $radii-default;
      padding: 1.5rem;
      width: 25rem;
      @media (max-width: 1024px) {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}
