@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.mobile-nav-container {
  @include display-flex(center, flex-end);
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  left: 0;
  top: 0;
  @media (min-width: 1024px) {
    display: none;
  }
  .mobile-nav {
    background-color: $color-snow;
    color: $color-darkHigh;
    height: 100%;
    width: 100%;
    padding: 1rem;
    .close-section {
      @include display-flex(none, flex-end);
      .close-icon {
        cursor: pointer;
        font-size: 2.5rem;
      }
    }
    .nav-items {
      display: flex;
      flex-direction: column;
      font-size: $font-small;
      gap: 0.5rem;
    }
    .right-section {
      @include display-flex;
      @include hover;
      font-family: "Geist", sans-serif;
      font-size: 1rem;
      margin-top: 0.8rem;
      border-radius: 3px;
      padding: 0.8rem 1.4rem;
      background-color: $color-primary;
      font-weight: 500;
      color: $color-snow;
      .link {
        color: inherit;
      }
      &:hover {
        background-color: $color-primaryHover;
      }
      @media (min-width: 1024px) {
        display: flex;
      }
    }
  }
}
