@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.navbar {
  @include display-flex(center, space-between);
  box-shadow: rgba(0, 0, 0, 0.16) 0 0.06rem 0.25rem;
  position: fixed;
  background-color: $color-backgroundLight;
  font-weight: $weight-default;
  height: 5.5rem;
  z-index: 999;
  width: 100%;
}

.container {
  @include display-flex(center, space-between);
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem 1.7rem;
}

.left-section {
  @include display-flex(center, flex-start);
  gap: 1rem;
  
  .logo {
    width: 120px;
    height: 50px;
  }
  
  .nav-items {
    display: none;
   
    @media (min-width: 1024px) {
      @include display-flex(center, center);
      
      .nav-link {
        @include hover;
        position: relative;
        padding: 1rem 0.7rem;
        
        .link-text {
          @include display-flex(center, center);
          color: $color-darkHigh;
          font-size: 1rem;
          gap: 0.4rem;
          transition: color 0.1s ease;
          &:hover {
            color: $color-primary;
          }
          .rotate-180 {
            @include hover(all 0.3s ease);
            transform: rotate(180deg);
          }
        }
        
        .dropdown {
          display: none;
          flex-direction: column;
          position: absolute;
          font-weight: $weight-medium;
          background-color: $color-snow;
          color: $color-darkHigh;
          border-radius: $radii-default;
          padding: 1.2rem 1rem;
          margin-top: 0.8rem;
          left: 2.5rem;
          top: 2.5rem;
          gap: 0.1rem;
        }
      }
    }
  }
}

.right-section {
  @include display-flex;
  @include hover;
  font-family: "Geist", sans-serif;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.8rem 1.4rem;
  background-color: $color-primary;
  font-weight: 500;
  color: $color-snow;
  .link {
    color: inherit;
  }
  
  @media (max-width: 1124px) {
    display: none;
  }
  
  &:hover {
    background-color: $color-primaryHover;
  }
  
  
  @media (min-width: 1024px) {
    display: flex;
  }
}

.menu-icon {
  @include hover;
  display: block;
  font-size: $font-medium;
  
  @media (min-width: 1024px) {
    display: none;
  }
}